exclude: ^lib/.*$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        types_or:
          - javascript
          - json
          - css
          - html
        additional_dependencies:
          - prettier@v3.5.3
        entry: prettier --write
